<p>Você tem um novo contato vindo do site!</p>

<p><strong>Nome:</strong> <%= @message.name %></p>
<p><strong>Email:</strong> <%= @message.email %></p>
<p><strong>Assunto:</strong> <%= @message.subject %></p>
<p><strong>Mensagem:</strong> <%= @message.content %></p>
