<div class="row">
  <div class="col s12 m6">
    <h4 style="padding-left: 2%; padding-top: 2%;" class="black-text">A melhor localização em São Paulo</h4>
    <blockquote>
    A dois minutos da estação de metro, nosso hostel está localizado no bairro mais badalado e moderno de São Paulo: Vila Madalena. Existem bares, cafés, mercados de rua, ruas de grafite, galerias de arte e boutiques alternativas e é ideal para aqueles que querem estar perto da vida noturna, mas gostaria de dormir numa área calma.
    </blockquote>
  </div>
  <div class="col s12 m6 contact-info" style="min-height: 30vh;">
    <ul>
      <li class="black-text"><i class='material-icons prefix small' style='margin-right: 18px'>location_on</i>Rua Agissê, 152 - Vila Madalena, São Paulo - BRASIL</li>
      <li class="black-text"><i class='material-icons prefix small' style='margin-right: 18px'>phone</i>+55 (11) 2649-7217 (reception)</li>
      <li class="black-text"><i class='material-icons prefix small' style='margin-right: 18px'>phone</i>+55 (11) 97684-6562 (whatsapp!)</li>
      <li class="black-text"><a href="mailto: info@cafehostel.com.br"><i class='material-icons prefix small' style='margin-right: 18px'>mail</i>info@cafehostel.com.br</a></li>
      <li class="black-text"><a target="_blank" href="http://facebook.com/cafehostelsp"><i class='material-icons prefix small' style='margin-right: 18px'>link</i>facebook.com/cafehostelsp</a></li>
    </ul>
  </div>
</div>
