<div class="col l4 s12">
  <div class="row" style="margin-bottom: 0;">
    <div class="valign-wrapper" style="justify-content: space-around; max-width: 100%; margin: 5% auto;">
      <%= image_tag 'sp.png',  style: "max-width: 320px;"  %>
    </div>
  </div>
</div>
