  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">date_range</i>Alterar Data</div>
      <div class="collapsible-body" style="background-color: rgba(245, 245, 245, 1);">
        <%= render 'partials/form_overlay' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Localização</div>
      <div class="collapsible-body" style="padding: 0 2rem;">
        <%= render 'partials/google_maps_iframe' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">local_hotel</i>Central de Reservas</div>
      <div class="collapsible-body">
      </div>
    </li>
  </ul>
