<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">date_range</i>Escolher Data</div>
    <div class="collapsible-body" style="background-color: rgba(245, 245, 245, 1);">
      <%= render 'partials/form_overlay' %>
    </div>
  </li>
</ul>
