<form class="col m12 form-overlay">
  <div class="row" >
    <div class="input-field col s12 m4">
      <i class="material-icons prefix" for="arrival">date_range</i>
      <input id ="arrival_overlay_page" type="text" class="datepicker">
      <label for="arrival_overlay_page">Data de chegada</label>
    </div>
    <div class="input-field col s12 m4">
      <i class="material-icons prefix" for="arrival">date_range</i>
      <input id="departure_overlay_page" type="text" class="datepicker">
      <label for="departure_overlay_page">Data de partida</label>
    </div>
    <div class="col s12 m4" style="text-align: center;">
      <a style="cursor: pointer;" id="booking_overlay_page" class="btn btn-large waves-effect waves-light amber modal-trigger">pesquisar</a>
    </div>
  </div>
  <div class="row">
    <%= render 'partials/errors_overlay' %>
  </div>
</form>
