<div class="container errors-text">
  <div class="row">
    <div class="col s12">
      <p class="red-text name-error center-align" style="display: none;">Por favor, confira o campo 'Nome'</p>
      <p class="red-text last-name-error center-align" style="display: none;">Por favor, confira o campo 'Sobrenome'</p>
      <p class="red-text email-error center-align" style="display: none;">Por favor, confira o campo 'E-mail'</p>
      <p class="red-text confirm-email-error center-align" style="display: none;">Os e-mails devem ser iguais</p>
      <p class="red-text phone-error center-align" style="display: none;">Por favor, confira o campo 'Telefone'</p>
      <p class="red-text country-error center-align" style="display: none;">Por favor, confira o campo 'País'</p>
      <p class="red-text credit-card-name-error center-align" style="display: none;">Por favor, confira o campo 'Nome' do seu cartão de crédito</p>
      <p class="red-text credit-card-number-error center-align" style="display: none;">Por favor, confira o número do seu cartão de crédito</p>
      <p class="red-text security-code-error center-align" style="display: none;">Por favor, confira o Código de Segurança do seu cartão de crédito</p>
    </div>
  </div>
</div>
