<div class="container center-align">
  <div class="row info-section">
    <div class="info-content">
      <i class='material-icons prefix tiny'>home</i><br><span class="center-align">Escolha seu quarto</span>
    </div>
    <div class="info-content">
      <i class='material-icons prefix tiny'>person</i><br><span class="center-align">Revise seus dados</span>
    </div>
    <div class="info-content">
      <i class='material-icons prefix tiny'>check</i><br><span class="center-align">Confirmação</span>
    </div>
  </div>
</div>

