<div class="row">
  <h4 style="padding-left: 2%; padding-top: 2%;" class="black-text center-align">Como chegar até aqui?</h4>
  <div class="col s12 m6">
    <h5 class="black-text">Da estação de metro Vila Madalena</h5>
    <blockquote>
    Saia da estação de metrô Vila Madalena pegando a escada rolante. Continue em frente até o final do terminal de ônibus, em seguida, vire à direita na Rua Marinho Falcao. Caminhe em linha reta até chegar a uma estação de bicicleta laranja. Atravesse na faixa de pedrestre. Caminhe até a rua Rua Agissê, o albergue está do seu lado direito, casa 152.
    </blockquote>

    <h5 class="black-text">Do aeroporto de Guarulhos</h5>
    <h6 class="black-text">Opção 1 (econômica)</h6>
    <blockquote>
    Utilize o ônibus 257 (Aeroporto Metro Tatuapé) que sai a cada 15 min (R$ 4,60). Na estação Tatuapé, pegue a linha vermelha do metro sentido Palmeiras Barra Funda (R$ 4,00). Saia na Sé e mude para a linha azul (direção Jabaquara) até Paraíso. Na estação Paraíso pegue a linha verde (direção Vila Madalena) e saia na última estação. De lá, é uma curta caminhada até o albergue. Total = R$ 8,40.
    </blockquote>
    <h6 class="black-text">Opção 2 (menos econômica, mais confortavel)</h6>
    <blockquote>
    Pegue o ônibus expresso "Airport Bus Service" (BRL 38,00) para a Avenida Paulista (a cada 1 hora). Pegue a Rota 316 (Circuito dos Hotéis) e desembarque na Paulista. Pegue a linha verde do metrô (direção Vila Madalena) e saia na última estação (R$ 4,00). De lá, é uma curta caminhada até o albergue. Total = R $ 41,80
    </blockquote>
    <h6 class="black-text">Opção 3 (caro e confortável)</h6>
    <blockquote>
    Pegue um táxi diretamente para o albergue.
    Cerca de R$ 150,00 - Uber: R$ 70,00 (use nosso código promocional: q7sdqthuue)
    </blockquote>
  </div>
  <div class="col s12 m6">
    <h5 class="black-text">Do aeroporto de Congonhas:</h5>
    <h6 class="black-text">Opção 1</h6>
    <blockquote>
    Utilize o ônibus (linha 675I) ou um táxi para a estação de metro de São Judas. Pegue a linha azul (direção Tucuruvi) para a estação Paraíso (R$ 4,00). Na estação Paraíso, pegue a linha verde (direção Vila Madalena) e desça na última estação. De lá, é uma curta caminhada até o albergue. Cerca de R $ 20,00.
    </blockquote>
    <h6 class="black-text">Opção 2</h6>
    <blockquote>
    Pegue um taxi diretamente para o hostel.
    Cerca de R$ 40,00.
    </blockquote>
    <h5 class="black-text">Do Terminal Rodoviário de Tietê e do Terminal Rodoviário Barra Funda</h5>
    <blockquote>
    Pegue a linha verde (direção Vila Madalena) e saia na última estação (R$ 4,00). De lá, é uma curta caminhada até o albergue. Total R$ 4,00
    </blockquote>
  </div>
</div>
