<div class="fixed-action-btn" style="left: 15px !important; bottom: 15px !important;">
  <a class="btn-floating btn-large waves-effect waves-light amber rent-button">
    <i class="medium material-icons">local_hotel</i>
  </a>
</div>
