<div class="fixed-action-btn" style="rigth: 15px !important; bottom: 15px !important;">
  <a href="https://api.whatsapp.com/send?phone=5548999195919&text=Envie%20sua%20mensagem" target="_blank" style="text-decoration: none; color: white; font-size: large;">
    <%= image_tag ('WA.png'), style: 'width: 64px;' %>
  </a>
</div>
