<div class="fixed-action-btn" style="left: 15px !important; bottom: 15px !important;">
  <a class="btn-floating btn-large waves-effect waves-light amber">
    <i class="medium material-icons">local_hotel</i>
  </a>
  <ul>
    <li><a class="btn amber rent-button" style="position: absolute; bottom: 5px; left: 0;">reservar</a></li>
  </ul>
</div>
