<div class="fixed-action-btn" style="rigth: 15px !important; bottom: 15px !important;">
  <a href="https://api.whatsapp.com/send?phone=5511976846562&text=Oi%20Caf%C3%A9%20Hostel%2C%20vamos%20conversar%21" target="_blank" style="text-decoration: none; color: white; font-size: large;">
    <%= image_tag ('WA.png'), style: 'width: 64px;' %>
  </a>
</div>
