<div class="container errors-text">
  <div class="row">
    <div class="col s12">
      <p class="red-text name-error center-align" style="display: none;">Por favor, confira o campo 'Nome'</p>
      <p class="red-text email-error center-align" style="display: none;">Por favor, confira o campo 'E-mail'</p>
      <p class="red-text subject-error center-align" style="display: none;">Por favor, confira o campo 'Assunto'</p>
      <p class="red-text message-error center-align" style="display: none;">Por favor, confira o campo 'Mensagem'</p>
    </div>
  </div>
</div>
