<div class="mdl-layout__drawer-button valign-wrapper" aria-expand="false" role="button" tabindex="0" style="margin-top: 15px;">
  <a data-activates="slide-out" class="button-collapse waves-effect waves-light menu"><i class="small material-icons">menu</i></a>

  <%= link_to root_path do %>
    <%= image_tag ('logo.png'), class: 'logo' %>
  <% end %>
</div>
