<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col s12 m12" id="booking">
          <%= render 'partials/header_overlay.html.erb' %>
          <div class="container dates-info" style="display: none;">
            <div class="row" style="margin-bottom: 0 !important;">
              <div class="col s12 m6">
                <blockquote style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                  <h5 class="black-text center-align">Data de chegada:</h5>
                  <h5><strong id="arrival-info"></strong></h5>
                </blockquote>
              </div>
              <div class="col s12 m6">
                <blockquote style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                  <h5 class="black-text center-align">Data de partida:</h5>
                  <h5><strong id="departure-info"></strong></h5>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="row booking_cards">
          </div>
          <%= render 'partials/guest_form' %>
          <div class="container center-align">
            <a style="cursor: pointer;" class="btn btn-large waves-effect waves-light amber modal-trigger rentButton" disabled >reservar</a>
            <p class="booking-text" style="font-size: 0.8em;">Para reservar, escolhe um quarto.</p>
          </div>
        </div>
      </div>
    </div>
    <%= render 'partials/extra_info_overlay' %>
    <div class="row">
      <%= render 'partials/terms_and_conditions' %>
    </div>
  </div>
</div>
