<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <div class="container-fluid">
      <div class="row">
        <%= render 'partials/side_bar_booking_page' %>
        <div class="col s12 m8">
          <%= render 'partials/header_overlay.html.erb' %>
          <div class="row booking_cards" style="margin-top: 30px;">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render 'partials/terms_and_conditions' %>
    </div>
  </div>
</div>
