<div class="col s12 m4" style="margin-top: 2vh;">
  <blockquote>
    <p class="center-align black-text" style="font-weight: 500;">Escolha as datas que deseja se hospedar conosco.</p>
  </blockquote>
  <%= render 'partials/form_overlay' %>
  <div class="col s12">
    <%= image_tag ('breakfast.jpg'), class: 'responsive-image hide-on-small-only', style: "max-width: 100%; min-width: 220px;" %>
    <%= render 'partials/google_maps_iframe' %>
    <%= render 'partials/card_overlay_info' %>
  </div>
</div>
