<div class="col s12 m3" style="margin-top: 2vh;">
  <blockquote>
    <h5 class="center-align black-text">Escolha as datas que deseja se hospedar conosco.</h5>
  </blockquote>
  <form class="col s12">
    <div class="row" style="display: flex; align-items: center; flex-direction: column; justify-content: center; background-color: rgba(0, 0, 0, 0.52); border-radius: 2px;">
      <div class="input-field col s12">
        <i class="material-icons prefix" for="arrival">date_range</i>
        <input id ="arrival" type="text" class="datepicker">
        <label for="arrival">Data de chegada</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix" for="arrival">date_range</i>
        <input id="departure" type="text" class="datepicker">
        <label for="departure">Data de partida</label>
      </div>
      <div class="col s12" style="text-align: center;">
        <a style="cursor: pointer;" id="booking" class="btn btn-large waves-effect waves-light amber modal-trigger">reservar</a>
      </div>
      <%= render 'partials/errors' %>
    </div>
  </form>
  <div class="col s12">
    <%= image_tag ('breakfast.jpg'), class: 'responsive-image', style: "max-width: 100%;" %>
    <%= render 'partials/google_maps' %>
    <div class="card-panel white">
      <span class="black-text">
      <ul>
        <li>Rua Agissê, 152 - Vila Madalena</li>
        <li>Sao Paulo - Sao Paulo</li>
        <li>Telefone: (11) 2649-7217</li>
        <li>E-Mail: info@cafehostel.com.br</li>
      </ul>
      </span>
    </div>
  </div>
</div>
