<nav class="side-nav" id="slide-out">
  <ul>
    <li><a href="#about" class="waves-effect waves-light"><i class="material-icons prefix tiny" style="margin-right: 6px;">home</i>Quem somos</a></li>
    <li><a href="#contact" class="waves-effect waves-light"><i class="material-icons prefix tiny" style="margin-right: 6px;">location_on</i>Contato e Localização</a></li>
    <li><a href="#book" class="waves-effect waves-light"><i class="material-icons prefix tiny" style="margin-right: 6px;">hotel</i>Reservas</a></li>
    <li><a href="#work" class="waves-effect waves-light"><i class="material-icons prefix tiny" style="margin-right: 6px;">work</i>Trabalhe conosco</a></li>
  </ul>
</nav>
