<div class="valign-wrapper">
  <div class="row">
    <a class="btn-floating btn-large waves-effect waves-light hide-on-med-and-up" target="_blank" href="https://www.facebook.com/cafehostelsp">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light hide-on-med-and-up" target="_blank" href="https://www.instagram.com/cafehostelsp">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light hide-on-med-and-up" target="_blank" href="https://www.youtube.com/user/cafehostelsp">
      <i class="fa fa-youtube" aria-hidden="true"></i>
    </a>
  </div>
</div>
