<div class="valign-wrapper">
  <div class="row">
  <a class="btn-floating btn-large waves-effect waves-light" target="_blank" href="https://www.facebook.com/cafehostelsp">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a class="btn-floating btn-large waves-effect waves-light amber" target="_blank" href="https://www.instagram.com/cafehostelsp">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  <a class="btn-floating btn-large waves-effect waves-light amber" target="_blank" href="https://www.snapchat.com/add/cafehostelsp">
    <i class="fa fa-snapchat" aria-hidden="true"></i>
  </a>
  <a class="btn-floating btn-large waves-effect waves-light amber" target="_blank" href="whatsapp://send?text=Envie sua mensagem">
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
  </a>
  </div>
</div>
