<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">info</i>SOBRE A PRIPRIEDADE</div>
    <div class="collapsible-body"><span>Concebido por dois amigos que viajaram pelos cinco continentes e resolveram abrir um hostel com um pouquinho do melhor que eles viram mundo afora, o Café Hostel oferece tudo o que você precisa: ótima localizacão no bairro Vila Madalena, uma equipe simpática, quartos luminosos e limpos, camas XL, armários individuais, uma cozinha comum totalmente equipada, Wi-Fi gratuito, serviço de lavanderia e, é claro, uma xícara de café.</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">watch_later</i>DETALHES DO CHECKIN</div>
    <div class="collapsible-body">
      <span>
        <p>Esta propriedade possui horários pré-estabelecidos para check-in e check-out.</p>
        <ul>
          <li>Check-in a partir de: 13:00</li>
          <li>Check-out até: 11:00</li>
          <li>Late check-out até: 18:00</li>
          <li>Taxa de late check-out: 50%</li>
          <li>Para check-out efetuado após às 18:00 será cobrado o valor de uma diária.</li>
        </ul>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">info</i>POLÍTICA DE CANCELAMENTO</div>
    <div class="collapsible-body"><span>No ato da reserva é cobrado 50% do valor total no cartão de crédito. Esse valor não é reembolsável. Em caso de não comparecimento será cobrado 100% da primeira diária. Mudanças e cancelamentos das reservas devem ser feitos diretamente através da central de reservas do Café Hostel info@cafehostel.com.br</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">local_hotel</i>TERMOS E CONDIÇÕES</div>
    <div class="collapsible-body">
      <span>
        <ul>
          <li>O acesso e a navegação através desse site implica o conhecimento dos seguintes termos e condições para reserva. Os usuários devem ler e aceitar esses termos já que todas as vendas realizadas nesse site web se restringem as condições definidas nesse acordo.</li>
          <li>Nenhum empregado ou representante da empresa pode modificar, corrigir, restringir ou agregar informações a esses termos e condições, seja total ou parcialmente.</li>
          <li>Os preços aqui descritos estão sujeitos a modificação sem aviso prévio.</li>
          <li>
            <span>Tipos de câmbio:</span>
            <ul>
              <li>A empresa não é responsável e não fará ajustes por diferenças de câmbios devido aos reajustes das moedas. Nossas tarifas estão expressas em Reais Brasileiros.</li>
            </ul>
          </li>
          <li>
            Menores de idade: não é permitido menor de 18 anos sem a companhia de um responsável maior de idade. Em caso de estar acompanhado, só poderão estar em quartos privativos.
          </li>
        </ul>
      </span>
    </div>
  </li>
</ul>
