<div class="container" style="width: 90% !important">
  <h4 style="padding-left: 2%; padding-top: 2%;">Uma casa para viajantes</h4>
  <blockquote>
    Uma casa para viajantes. Foi com esse intuito que Rogério e César, dois amigos que viajaram pelos cinco continentes, resolveram abrir um hostel com um pouquinho do melhor que eles viram mundo afora. O Café Hostel oferece todo o conforto que um viajante precisa, com quartos arejados, uma cozinha para os hóspedes, espaços de convívio aconchegantes que incentivam a troca e um café/bar que reúne viajantes de todo o mundo com moradores de São Paulo. Isto a 2minutos do metrô, numa rua tranquila da Vila Madalena, bairro boêmio de Sao Paulo.
  </blockquote>
</div>
