<div class="col s12 center-align" style="padding: 4px; margin: 4px auto;">
  <a href="https://api.whatsapp.com/send?phone=5511976846562&text=Oi%20Caf%C3%A9%20Hostel%2C%20vamos%20conversar%21" target="_blank" style="text-decoration: none; color: white; font-size: large;">
    <span>
      <strong>
        <%= image_tag ('WA.png'), style: 'margin-right: 10px; margin-bottom: -10px; margin-left: 10px; width: 32px;' %>
        +55 11 97684-6562
      </strong>
    </span>
  </a>
</div>
