<div class="col s12 center-align" style="padding: 4px; margin: 4px auto;">
  <a href="https://api.whatsapp.com/send?phone=5548999195919&text=Envie%20sua%20mensagem" target="_blank" style="text-decoration: none; color: white; font-size: large;"><span><strong>Reservas<%= image_tag ('WA.png'), style: 'margin-right: 10px; margin-bottom: -10px; margin-left: 10px; width: 32px;' %>+55 21 984792746</strong></span></a>
</div>
