<div class="row form-to-booking" style="display: none;">
  <form class="col s12 overlay-form">
    <h5>Identifiação</h5>
    <div class="row">
      <div class="input-field col s12 m6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name" data-error="wrong" data-success="right">Nome</label>
      </div>
      <div class="input-field col s12 m6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name" data-error="wrong" data-success="right">Sobrenome</label>
      </div>
      <div class="input-field col s12 m6">
        <input id="email" type="text" class="validate">
        <label for="email" data-error="wrong" data-success="right">E-mail</label>
      </div>
      <div class="input-field col s12 m6">
        <input id="confirm_email" type="text" class="validate">
        <label for="confirm_email" data-error="wrong" data-success="right">Confirmação de E-mail</label>
      </div>
      <div class="input-field col s12 m6">
        <input id="phone" type="text" class="validate">
        <label for="phone" data-error="wrong" data-success="right">Telefone</label>
      </div>
      <div class="input-field col s12 m6">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <% COUNTRIES.each do |country| %>
          <option value="<%= country %>"><%= country %></option>
          <% end %>
        </select>
        <label>País</label>
      </div>
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Notas:</label>
      </div>
    </div>
    <h5>Café da manhã</h5>
    <div class="col s12">
      <input type="checkbox" id="test5" />
      <label for="test5">Adicionar café da manhã por mais BRL 12.00 por hóspede por noite.</label>
    </div>
    </p>
    <h5>Cupom de Desconto</h5>
    <div class="input-field col s12">
      <input id="phone" type="text" class="validate">
      <label for="phone" data-error="wrong" data-success="right">Código</label>
    </div>
    <h5>Pagamento</h5>
    <div class="col s12">
      <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
      <label for="test7">Cartão de Crédito</label>
    </div>
    <div class="input-field col s12 m6">
      <input id="credit-card-name" type="text" class="validate">
      <label for="credit-card-name" data-error="wrong" data-success="right">Nome</label>
    </div>
    <div class="input-field col s12 m6">
      <input id="credit-card-number" type="text" class="validate">
      <label for="credit-card-number" data-error="wrong" data-success="right">Nº Cartão de Crédito</label>
    </div>
    <div class="input-field col s6 m6">
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <label>Mês</label>
    </div>
    <div class="input-field col s6 m6">
      <select>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
        <option value="2031">2031</option>
        <option value="2032">2032</option>
        <option value="2033">2033</option>
        <option value="2034">2034</option>
        <option value="2035">2035</option>
        <option value="2036">2036</option>
        <option value="2037">2037</option>
      </select>
      <label>Ano</label>
    </div>
    <div class="input-field col s12">
      <input id="security-code" type="text" class="validate">
      <label for="security-code" data-error="wrong" data-success="right">Código de Segurança</label>
    </div>
    <div class="col s12">
      <input type="checkbox" id="test6" checked="checked" />
      <label for="test6">Eu li e aceito todos os termos e condições de hospedagem.</label>
    </div>
    <div class="container right-align">
      <a style="cursor: pointer;" class="btn btn-large waves-effect waves-light amber modal-trigger rentButton" >confirmar reserva</a>
      Se você não receber um e-mail dentro de 24 hrs, por favor cheque na sua lixeira eletrônica
    </div>
  </form>
</div>
