footer {
  a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 2px;
    &:hover {
      color: white;
      transition: 0.3s ease;
    }
    .fa {
      font-size: 25px !important;
      background-color: #ffc107;
      color: black;
      padding: 5px;
      border-radius: 2px;

      &:hover {
        background-color: black !important;
        color: #ffc107 !important;
        transition: 0.3 ease;
      }
    }
    .fa-instagram {
      background: #ffc107 !important;
      background-color: #ffc107 !important;
      color: black;
    }
  }
  img {
    width: 55px;
    padding: 5px;
  }
}
