.input-field input[type=text] {
  border-bottom: 1px solid #ffffff !important;
  color: #fff !important;
  font-size: 1.25rem !important;
}
.input-field label {
  color: #fff;
}
.picker__today, .picker__close {
  color: black !important;
}
.picker__clear {
  color: #ffc107 !important;
}
.picker__date-display {
  background-color: #ffc107 !important;
}
